name = "farmers-boot"
compatibility_date = "2024-01-01"

# Pages configuration
pages_build_output_dir = "frontend/dist"

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "farmers_boot"
database_id = "96ba79d2-c66e-4421-9116-3d231666266c"

# Variables
[vars]
DATABASE_ID = "96ba79d2-c66e-4421-9116-3d231666266c"